*, html, body {
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../images/friendship.jpg);
    background-size: cover;
    background-position: center;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: 700;
    transform: translate(-50%, -50%);
 }
 
 button {
     border: none;
     padding: 0.7em 1em;
     margin: 1em;
     border-radius: 5px;
 }
 
 button:hover {
     cursor: pointer;
 }
 
 select {
     border-radius: 5px;
     padding: 8px 10px;
 }
 
 .options {
     margin-top: 1.5em;
 }

.adviceEye {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: lightblue;
    text-align: center;
    padding: 0.5em;
    position: relative;
    animation: circle 5s infinite;
    clip-path: circle(75%);
    background: lightblue;
    box-shadow: 5px 10px #671D92;
    color: #671D92;
}

@keyframes circle {
    0% { clip-path: circle(75%); }
    50% { clip-path: circle(35%); }
    100% { clip-path: circle(75%); }
  }

#adviceDisplay {
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.friendship {
    color: #671D92;
    background: lightblue;
    box-shadow: 5px 10px #671D92;
}

.health {
    color: #9F110E;
    background: #a89d8a;
    box-shadow: 5px 10px #9F110E;
}

.life {
    color: #C25D78;
    background: #89c9b5;
    box-shadow: 5px 10px #C25D78;
}

.knowledge {
    color: #bf3e56;
    background: #72b3ca;
    box-shadow: 5px 10px #bf3e56;
}